<ion-tabs>
  <ion-tab-bar slot="bottom" class="custom-tab-bar">
    <ion-tab-button tab="dashboard" class="tab-button">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="knowledge" class="tab-button">
      <ion-icon name="library"></ion-icon>
      <ion-label>Insights</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="chat" class="tab-button">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="growth" class="tab-button" *ngIf="shouldShowTrackerTab()">
      <img src="assets/Tracker.svg" alt="Tracker" class="tab-icon">
      <ion-label>Tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" class="tab-button">
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>