// Ionic Variables and Theming
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #8383ed;
  --ion-color-primary-rgb: 131, 131, 237;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #7676d1;
  --ion-color-primary-tint: #8f8fef;

  /** secondary **/
  --ion-color-secondary: #ff9e88;
  --ion-color-secondary-rgb: 255, 158, 136;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-shade: #e08b78;
  --ion-color-secondary-tint: #ffa894;

  /** tertiary **/
  --ion-color-tertiary: #fff1b6;
  --ion-color-tertiary-rgb: 255, 241, 182;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e0d49f;
  --ion-color-tertiary-tint: #fff3bd;

  /** success **/
  --ion-color-success: #28b2c7;
  --ion-color-success-rgb: 40, 178, 199;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #239daf;
  --ion-color-success-tint: #3eb8cd;

  /** warning **/
  --ion-color-warning: #ffb37c;
  --ion-color-warning-rgb: 255, 179, 124;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e09e6d;
  --ion-color-warning-tint: #ffbb89;

  /** danger **/
  --ion-color-danger: #ed3241;
  --ion-color-danger-rgb: 237, 50, 65;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d12c39;
  --ion-color-danger-tint: #ef4754;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: #ffffff;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #9a9aef;
    --ion-color-primary-rgb: 154, 154, 239;
    --ion-color-primary-contrast: #000000;
    --ion-color-primary-contrast-rgb: 0, 0, 0;
    --ion-color-primary-shade: #8888d2;
    --ion-color-primary-tint: #a4a4f1;

    --ion-color-secondary: #ffad99;
    --ion-color-secondary-rgb: 255, 173, 153;
    --ion-color-secondary-contrast: #000000;
    --ion-color-secondary-contrast-rgb: 0, 0, 0;
    --ion-color-secondary-shade: #e09887;
    --ion-color-secondary-tint: #ffb5a3;

    --ion-color-tertiary: #fff4c4;
    --ion-color-tertiary-rgb: 255, 244, 196;
    --ion-color-tertiary-contrast: #000000;
    --ion-color-tertiary-contrast-rgb: 0, 0, 0;
    --ion-color-tertiary-shade: #e0d7ad;
    --ion-color-tertiary-tint: #fff5ca;

    --ion-color-success: #3ac0a0;
    --ion-color-success-rgb: 58, 192, 160;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #33a98d;
    --ion-color-success-tint: #4ec6aa;

    --ion-color-warning: #ffc4e4;
    --ion-color-warning-rgb: 255, 196, 228;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac9f;
    --ion-color-warning-tint: #ffcae7;

    --ion-color-danger: #ffe2e5;
    --ion-color-danger-rgb: 255, 226, 229;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #e0c7ca;
    --ion-color-danger-tint: #ffe5e8;

    --ion-color-dark: #f4f5f8;
    --ion-color-dark-rgb: 244, 245, 248;
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: #ffffff;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255, 255, 255;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0, 0, 0;

    --ion-color-step-50: #ffffff;
    --ion-color-step-100: #fbf9fe;
    --ion-color-step-150: #8383ed;
    --ion-color-step-200: #f8f6fc;
    --ion-color-step-250: #f5f3fa;
    --ion-color-step-300: #f2f0f8;
    --ion-color-step-350: #efedf6;
    --ion-color-step-400: #d4d0e5;
    --ion-color-step-450: #c5c0db;
    --ion-color-step-500: #b6b1d1;
    --ion-color-step-550: #a7a1c7;
    --ion-color-step-600: #9892bd;
    --ion-color-step-650: #8983b3;
    --ion-color-step-700: #7a73a9;
    --ion-color-step-750: #6b649f;
    --ion-color-step-800: #5c5595;
    --ion-color-step-850: #4d458b;
    --ion-color-step-900: #3e3681;
    --ion-color-step-950: #2f2777;

    --ion-item-background: #ffffff;

    --ion-card-background: #ffffff;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }

  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #fbf5f5;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 255, 255, 255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #fbf5f5;
    --ion-color-step-350: #fbf5f5;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}