<div class="dst-scroll" role="region" aria-label="Daily history table, scroll sideways for more columns" tabindex="0">
  <table class="dst">
    <thead>
      <tr>
        <th scope="col" class="dst-date">Date</th>
        <th scope="col" *ngFor="let h of headers"><span aria-hidden="true">{{ h.short }}</span><span class="sr-only">{{ h.full }}</span></th>
      </tr>
    </thead>
    <tbody *ngIf="loading" aria-busy="true">
      <tr *ngFor="let i of [1, 2, 3, 4, 5]">
        <th scope="row" class="dst-date"><ion-skeleton-text animated class="dst-skel"></ion-skeleton-text></th>
        <td *ngFor="let h of headers"><ion-skeleton-text animated class="dst-skel"></ion-skeleton-text></td>
      </tr>
    </tbody>
    <tbody *ngIf="!loading">
      <tr *ngFor="let r of rows; trackBy: trackRow" (click)="dayTap.emit(r.day)"
          [class.is-empty]="!r.day.hasData" [class.is-selected]="r.day.date === selected">
        <th scope="row" class="dst-date">
          <button type="button" class="dst-row-btn" [attr.aria-label]="r.aria"
                  [attr.aria-current]="r.day.date === selected ? 'date' : null"
                  (click)="$event.stopPropagation(); dayTap.emit(r.day)">
            <span class="dst-top">{{ r.top }}</span>
            <span class="dst-bottom">{{ r.bottom }}</span>
          </button>
        </th>
        <td *ngFor="let c of r.cells">{{ c }}</td>
      </tr>
    </tbody>
  </table>
</div>
<p class="dst-note">* {{ definition }}</p>
<p class="dst-note">Avg is the average direct feed length. "-" means nothing was logged that day.</p>
